# Dependencies
node_modules/
jspm_packages/

# Environment
.env

# Logs
*.log
logs/

# Build artifacts
build/
dist/
nexe-conf/
*.tgz

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
*.swo
.project
.eslintrc.js

# Runtime
saveid
pids/
*.pid
*.seed
*.pid.lock

# Auth data & runtime data
data/

# Coverage
coverage/
.nyc_output/

# Package locks
package-lock.json
yarn.lock

# Misc
.dockerignore
launcher_profiles.json
launcher_accounts.json
queue-time.ggb
launcher_accounts.json
.vscode
.commit_msg.txt
